<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>phrase</key>
			<string>泡</string>
			<key>shortcut</key>
			<string>あー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>安和</string>
			<key>shortcut</key>
			<string>あー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>蜻蛉</string>
			<key>shortcut</key>
			<string>あーけーじゅー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>蜻蛉</string>
			<key>shortcut</key>
			<string>あーけーじゅー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>蜻蛉</string>
			<key>shortcut</key>
			<string>あーけーじゅー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>蜻蛉</string>
			<key>shortcut</key>
			<string>あーけーじゅー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>蜻蛉</string>
			<key>shortcut</key>
			<string>あーけーぢゅー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>蜻蛉</string>
			<key>shortcut</key>
			<string>あーけーぢゅー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>蜻蛉</string>
			<key>shortcut</key>
			<string>あーけーぢゅー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>蜻蛉</string>
			<key>shortcut</key>
			<string>あーけーぢゅー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>蜻蛉</string>
			<key>shortcut</key>
			<string>あーけーずー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>蜻蛉</string>
			<key>shortcut</key>
			<string>あーけーずー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>蜻蛉</string>
			<key>shortcut</key>
			<string>あーけーずー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>蜻蛉</string>
			<key>shortcut</key>
			<string>あーけーずー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>蜻蛉</string>
			<key>shortcut</key>
			<string>あーけーづー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>蜻蛉</string>
			<key>shortcut</key>
			<string>あーけーづー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>蜻蛉</string>
			<key>shortcut</key>
			<string>あーけーづー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>蜻蛉</string>
			<key>shortcut</key>
			<string>あーけーづー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>石蓴</string>
			<key>shortcut</key>
			<string>あーさ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>石蓴炒り付ー</string>
			<key>shortcut</key>
			<string>あーさいりち</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>泡瀬</string>
			<key>shortcut</key>
			<string>あーし</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>合ーし鏡</string>
			<key>shortcut</key>
			<string>あーしかがん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>袷じん</string>
			<key>shortcut</key>
			<string>あーしじん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>袷じん</string>
			<key>shortcut</key>
			<string>あーしぢん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>袷物</string>
			<key>shortcut</key>
			<string>あーしむん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>合すん</string>
			<key>shortcut</key>
			<string>あーすん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>合しゅん</string>
			<key>shortcut</key>
			<string>あーすん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>合すん</string>
			<key>shortcut</key>
			<string>あーしゅん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>合しゅん</string>
			<key>shortcut</key>
			<string>あーしゅん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>合すん</string>
			<key>shortcut</key>
			<string>あーすん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>合しゅん</string>
			<key>shortcut</key>
			<string>あーすん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>合すん</string>
			<key>shortcut</key>
			<string>あーしゅん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>合しゅん</string>
			<key>shortcut</key>
			<string>あーしゅん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>合ーち</string>
			<key>shortcut</key>
			<string>あーち</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>当てぃんぷー</string>
			<key>shortcut</key>
			<string>あーてぃんぷー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>あー尊と</string>
			<key>shortcut</key>
			<string>あーとーとぅ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>泡</string>
			<key>shortcut</key>
			<string>あーぶく</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>合ゆん</string>
			<key>shortcut</key>
			<string>あーゆん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>合いん</string>
			<key>shortcut</key>
			<string>あーゆん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>合ゆん</string>
			<key>shortcut</key>
			<string>あーいん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>合いん</string>
			<key>shortcut</key>
			<string>あーいん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>蟻</string>
			<key>shortcut</key>
			<string>あい</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>蟻こー</string>
			<key>shortcut</key>
			<string>あいこー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>綾門</string>
			<key>shortcut</key>
			<string>あいじょー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>綾門</string>
			<key>shortcut</key>
			<string>あいぢょー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>綾門大縄</string>
			<key>shortcut</key>
			<string>あいじょーうーんな</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>綾門大縄</string>
			<key>shortcut</key>
			<string>あいぢょーうーんな</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>綾門大道</string>
			<key>shortcut</key>
			<string>あいじょーうふみち</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>綾門大道</string>
			<key>shortcut</key>
			<string>あいぢょーうふみち</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>相乗いー</string>
			<key>shortcut</key>
			<string>あいぬいー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>相乗い車</string>
			<key>shortcut</key>
			<string>あいぬいぐるま</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>垢</string>
			<key>shortcut</key>
			<string>あか</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>阿嘉</string>
			<key>shortcut</key>
			<string>あか</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>阿嘉島</string>
			<key>shortcut</key>
			<string>あか</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>赤</string>
			<key>shortcut</key>
			<string>あか</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>赤ー</string>
			<key>shortcut</key>
			<string>あかー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>明明とぅ</string>
			<key>shortcut</key>
			<string>あかあかーとぅ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>灯い</string>
			<key>shortcut</key>
			<string>あかい</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>上がい</string>
			<key>shortcut</key>
			<string>あがい</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>明い桟走り</string>
			<key>shortcut</key>
			<string>あかいさんばしり</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>明い桟走る</string>
			<key>shortcut</key>
			<string>あかいさんばしる</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>上がい太陽</string>
			<key>shortcut</key>
			<string>あがいてぃーだ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>上がい端</string>
			<key>shortcut</key>
			<string>あがいはな</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>赤魚</string>
			<key>shortcut</key>
			<string>あかいゆー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>赤色</string>
			<key>shortcut</key>
			<string>あかいる</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>赤うー</string>
			<key>shortcut</key>
			<string>あかうー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>赤うー衣</string>
			<key>shortcut</key>
			<string>あかうーじん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>赤うー衣</string>
			<key>shortcut</key>
			<string>あかうーぢん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>赤牛</string>
			<key>shortcut</key>
			<string>あかうし</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>赤御飯</string>
			<key>shortcut</key>
			<string>あかうぶん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>赤瓦</string>
			<key>shortcut</key>
			<string>あかがーら</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>明かがい</string>
			<key>shortcut</key>
			<string>あかがい</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>赤金</string>
			<key>shortcut</key>
			<string>あかがに</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>あか取い</string>
			<key>shortcut</key>
			<string>あかとぅい</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>あか取やー</string>
			<key>shortcut</key>
			<string>あかとぅやー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>赤菜葉</string>
			<key>shortcut</key>
			<string>あかなばー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>赤ばー</string>
			<key>shortcut</key>
			<string>あかばー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>赤むん</string>
			<key>shortcut</key>
			<string>あかむん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>東まーい</string>
			<key>shortcut</key>
			<string>あがりまーい</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>上がりまーい</string>
			<key>shortcut</key>
			<string>あがりまーい</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>明き暗さ</string>
			<key>shortcut</key>
			<string>あきくりさ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>当たげーふー</string>
			<key>shortcut</key>
			<string>あたげーふー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>飽ち果てぃしー</string>
			<key>shortcut</key>
			<string>あちはてぃしー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>飽ち果てぃ仕事</string>
			<key>shortcut</key>
			<string>あちはてぃしぐとぅ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>当てぃはみーん</string>
			<key>shortcut</key>
			<string>あてぃはみーん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>当てぃはみゆん</string>
			<key>shortcut</key>
			<string>あてぃはみーん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>当てぃはみーん</string>
			<key>shortcut</key>
			<string>あてぃはみゆん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>当てぃはみゆん</string>
			<key>shortcut</key>
			<string>あてぃはみゆん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>後々</string>
			<key>shortcut</key>
			<string>あとぅあとぅ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>後ぬ御胴身</string>
			<key>shortcut</key>
			<string>あとぅぬうんじゅみ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>後ぬ御上身</string>
			<key>shortcut</key>
			<string>あとぅぬうんじゅみ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>後ぬ雲上身</string>
			<key>shortcut</key>
			<string>あとぅぬうんじゅみ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>後ぬ御胴身</string>
			<key>shortcut</key>
			<string>あとぅぬうんじゅみ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>後ぬ御上身</string>
			<key>shortcut</key>
			<string>あとぅぬうんじゅみ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>後ぬ雲上身</string>
			<key>shortcut</key>
			<string>あとぅぬうんじゅみ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>後ぬ御胴身</string>
			<key>shortcut</key>
			<string>あとぅぬうんじゅみ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>後ぬ御上身</string>
			<key>shortcut</key>
			<string>あとぅぬうんじゅみ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>後ぬ雲上身</string>
			<key>shortcut</key>
			<string>あとぅぬうんじゅみ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>後妻</string>
			<key>shortcut</key>
			<string>あとぅるみ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>家鴨</string>
			<key>shortcut</key>
			<string>あひらー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>あまがく童</string>
			<key>shortcut</key>
			<string>あまがくわらばー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>あまがく童ー</string>
			<key>shortcut</key>
			<string>あまがくわらばー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>あまがく童</string>
			<key>shortcut</key>
			<string>あまがくわらばー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>あまがく童ー</string>
			<key>shortcut</key>
			<string>あまがくわらばー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>雨ぬ子</string>
			<key>shortcut</key>
			<string>あみぬっくゎー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>雨降い暗しん</string>
			<key>shortcut</key>
			<string>あみふいぐらしん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>雨垂い</string>
			<key>shortcut</key>
			<string>あみらい</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>あんじゃらん事</string>
			<key>shortcut</key>
			<string>あんじゃらんくとぅ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>油ぎー</string>
			<key>shortcut</key>
			<string>あんだぎー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>油ぎー</string>
			<key>shortcut</key>
			<string>あんらぎー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>油肉</string>
			<key>shortcut</key>
			<string>あんだじし</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>油肉</string>
			<key>shortcut</key>
			<string>あんらじし</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>あん人</string>
			<key>shortcut</key>
			<string>あんちゅ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>安楽</string>
			<key>shortcut</key>
			<string>あんらく</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>溢りーん</string>
			<key>shortcut</key>
			<string>あんりーん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>溢りゆん</string>
			<key>shortcut</key>
			<string>あんりーん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>溢りーん</string>
			<key>shortcut</key>
			<string>あんりゆん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>溢りゆん</string>
			<key>shortcut</key>
			<string>あんりゆん</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>腰当</string>
			<key>shortcut</key>
			<string>くさてぃ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>腰当</string>
			<key>shortcut</key>
			<string>くしゃてぃ</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>御拝</string>
			<key>shortcut</key>
			<string>にふぇー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>美拝</string>
			<key>shortcut</key>
			<string>にふぇー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>御拝</string>
			<key>shortcut</key>
			<string>にへー</string>
		</dict>
		<dict>
			<key>phrase</key>
			<string>美拝</string>
			<key>shortcut</key>
			<string>にへー</string>
		</dict>
	</array>
</plist>
